<mat-form-field class="form-field"
                *ngIf="field.type===fieldType.textbox">
  <input class="form-field"
         matInput 
         #val 
         name="{{field.field}}"
         value={{field.value}}
         [minLength]="field.minWidth"
         [maxLength]="field.maxWidth" 
         placeholder={{field.description}}
         (keyup)="setValue(val.value)"
         required>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
  <mat-error *ngIf="val.value?.length < 10">{{field.description}} length must be greater than 10</mat-error>
</mat-form-field>

<mat-form-field *ngIf="field.type===fieldType.textarea"
                class="form-field">
  <textarea #val
            (keyup)="setValue(val.value)"
            matInput placeholder={{field.description}}></textarea>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
  <mat-error *ngIf="val.value?.length < 10">{{field.description}} length must be greater than 10</mat-error>
</mat-form-field>

<mat-form-field *ngIf="field.type===fieldType.select"
                class="form-field">
  <mat-select class="form-field"
              placeholder={{field.description}}
              #val
              value={{field.value}}>
    <mat-option *ngFor="let data of field.data" 
                [value]="data"
                (click)="setValue(data)">{{data}}</mat-option>
  </mat-select>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
</mat-form-field>

<mat-form-field *ngIf="field.type===fieldType.datepicker"
                class="form-field">
  <input matInput [matDatepicker]="picker" 
         #val
         value={{field.value}}
         [minLength]="field.minWidth"
         [maxLength]="field.maxWidth" 
         placeholder={{field.description}}
         (click)="setValue(data)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
  <mat-error *ngIf="val.value?.length < 10">{{field.description}} length must be greater than 10</mat-error>
</mat-form-field>

