<p>
  form works!
</p>

<!--
          <form [formGroup]="form">
            <div formGroupName="name">
              <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
                <div class="input-control" *ngFor="let field of fields">
                  <mat-input-container>
                    <input formControlName="user" matInput placeholder="User" id="user" value="" class="form-control" [(ngModel)]="user" name="user" [autofocus]>
                  </mat-input-container>
                </div>
                <!--
                <div class="input-control">
                  <mat-input-container>
                    <input formControlName="password" matInput placeholder="Password" type="password" id="password" value="" class="form-control" [(ngModel)]="password" name="password">
                  </mat-input-container>
                </div>
                -->
                <br/>
                <!--<mat-card-actions> -->
                <!--
                <button mat-raised-button [disabled]="form.status==='INVALID'" color="primary" i18n-mdTooltip mdTooltip="Login" mdTooltipPosition="below" (click)="login()" type="submit" class="input-control" i18n>Login</button>
                -->
                <!-- </mat-card-actions> -->
<!--
              </div>
            </div>
            <br/>
          </form>
-->

