.full-width {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}

.full-height { 
  margin-top: 10px;
  height: 80%; 
  flex: auto;
}

.action-card {
  min-width: 90%;
  max-width: 90%;
  min-height: 75%;
  max-height: 75%;
}

.action-card-title {
  font-family: Roboto;
  font-weight: 100;
  font-size: 25px;
}

.field {
  font-size: 19px;
}


