.full-width {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}

.full-height { 
  margin-top: -60px;
  height:100%; 
  flex: auto;
}

.action-card {
  min-width: 80%;
  min-height: 50%;
  max-height: 80%;
}

.action-card-title {
  font-size: 25px;
}



