<mat-toolbar color="primary" class="mat-elevation-z5 mat-typography">
<!--
  <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" 
       style="width: 50px; height: 100%; margin-left: -10px; margin-top: -10px;">
-->
    <img width="60" src="app/images/mobileApp.png" style="margin-top: 15px; margin-left: -10px;"/>
<!--
  </div>
-->
  <span style="margin-top: -15px; margin-left: 10px;" *ngIf="loginService.isLogged()">Nome Cognome</span>

  <mat-toolbar-row>
    <img width="60" src="" style="margin-left: -10px;"/>
    <span *ngIf="loginService.isLogged()" style="margin-top: -5px; margin-left: 10px;">Sistema</span>

    <span class="right-spacer"></span>
<!--
    <button mat-icon-button tooltip="Toggle Fullscreen" tooltipPosition="left" appFullscreen>
      <mat-icon>fullscreen</mat-icon></button>
-->
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="loginService.isLogged()">
      <mat-icon>view_headline</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/themes']"><mat-icon>format_color_fill</mat-icon>Tema</button>
      <button mat-menu-item [routerLink]="['/settings']"><mat-icon>build</mat-icon>Impostazioni</button>
      <button mat-menu-item (click)="loginService.logout()"><mat-icon>person_outline</mat-icon>Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
