<div class="maindiv">
  <div class="header">
    <mat-toolbar color="primary" class="mat-elevation-z5 mat-typography">
      <!--
  <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center" 
       style="width: 50px; height: 100%; margin-left: -10px; margin-top: -10px;">
-->
      <!-- 
	<img width="60" src="app/images/mobileApp.png"
	style="margin-top: 15px; margin-left: -10px;" /> 
	-->
      <!--
  </div>
	-->

      <div fxLayout="row">
        <div fxFlexAlign="start" fxFlexOffset="3%" fxFlex="5" [fxFlex.xs]="20" style="width: 20%;">
          <div *ngIf="loginService.isLogged()">
            Operatore:
          </div>
        </div>
        <div fxFlexAlign="start" fxFlexOffset="3%" fxFlex="20" [fxFlex.xs]="50">
          <div *ngIf="loginService.isLogged()">
            &nbsp; {{loginService.user.firstName}} &nbsp; {{loginService.user.lastName}}
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexAlign="start" fxFlexOffset="3%" fxFlex="5" [fxFlex.xs]="20" style="width: 20%;">
          <div *ngIf="loginService.isLogged()">Sistema:</div>
        </div>
        <div fxFlexAlign="start" fxFlexOffset="3%" fxFlex="20" [fxFlex.xs]="50">
          <div *ngIf="loginService.isLogged()">Sviluppo</div>
        </div>
      </div>

      <!--
	<span style="margin-top: -15px; margin-left: 10px;"
	*ngIf="loginService.isLogged()">{{loginService.user.firstName}}
	{{loginService.user.lastName}}</span>
	-->
      <mat-toolbar-row>
        <!-- 
		 <img width="60" src="" style="margin-left: -10px;" /> <span
					*ngIf="loginService.isLogged()"
					style="margin-top: -5px; margin-left: 10px;">Sistema</span> 
				-->
        <span class="right-spacer"></span>
        <!--
    <button mat-icon-button 
            tooltip="Toggle Fullscreen" 
            tooltipPosition="left" 
            appFullscreen
            *ngIf="loginService.isLogged()">
      <mat-icon>fullscreen</mat-icon></button>
-->
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="loginService.isLogged()">
          <mat-icon>view_headline</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/themes']">
            <mat-icon>format_color_fill</mat-icon>
            Tema
          </button>
          <button mat-menu-item [routerLink]="['/settings']">
            <mat-icon>build</mat-icon>
            Impostazioni
          </button>
          <!--
      <button mat-menu-item 
              (click)="loginService.logout()"
              appFullscreen>
-->
          <button mat-menu-item (click)="loginService.logout()">
            <mat-icon>person_outline</mat-icon>
            Logout
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="site">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer">
      <div>&copy;Pietro Piemontese</div>
      <div>Powered with &copy;Angular and &copy;Material</div>
    </footer>
  </div>
