
mat-toolbar {
  height:  70px !important;
  min-height: 70px !important;
  font-family: Roboto;
  font-weight: 100;
  font-size: 16px;

  mat-toolbar-row {
    margin-top: -25px;
    height: 40px !important;
  }
}
