<div fxLayout="column" fxLayoutAlign="center center">
  <mat-progress-bar mode="indeterminate" *ngIf="loginService.progress"></mat-progress-bar>
  <div class="action-card-title" style="padding-bottom: 20px;">
    Login</div>
</div>
<br />
<form [formGroup]="form" class="full-width">
  <div formGroupName="name">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field class="input-container">
        <input formControlName="user" matInput placeholder="User" i18n-matTooltip matTooltip="User" matTooltipPosition="below" id="user" value="" class="form-control" [(ngModel)]="user" name="user" [autofocus]>
      </mat-form-field>
      <mat-form-field class="input-container">
        <input formControlName="password" matInput placeholder="Password" i18n-matTooltip matTooltip="Password" matTooltipPosition="below" type="password" id="password" value="" class="form-control" [(ngModel)]="password" name="password"> </mat-form-field>
      <br />
      <button mat-raised-button [disabled]="form.status==='INVALID'" color="primary" i18n-matTooltip matTooltip="Login" matTooltipPosition="below" (click)="login()" class="input-container" i18n>Login</button>
    </div>
  </div>
  <br />
</form>




<!-- 
    <div class="full-width">
      <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
        <mat-card class="mat-elevation-z5">
          <mat-card-title>
            <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
              Login
            </div>
          </mat-card-title>
          <form [formGroup]="form">
            <div formGroupName="name">
              <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
                <div class="input-control">
                  <mat-input-container>
                    <input formControlName="user" 
                    			 matInput 
                    			 placeholder="User" 
 		                       i18n-matTooltip matTooltip="User" matTooltipPosition="below" 
                    			 id="user" value="" 
                    			 class="form-control" 
                    			 [(ngModel)]="user" 
                    			 name="user" 
                    			 [autofocus]>
                  </mat-input-container>
                </div>
                <div class="input-control">
                  <mat-input-container>
                    <input formControlName="password" 
                    			 matInput 
                    			 placeholder="Password" 
 		                       i18n-matTooltip matTooltip="Password" matTooltipPosition="below" 
                    			 type="password" 
                    			 id="password" value="" 
                    			 class="form-control" 
                    			 [(ngModel)]="password" 
                    			 name="password">
                  </mat-input-container>
                </div>
                <br/>
                <button mat-raised-button [disabled]="form.status==='INVALID'" 
                        color="primary" 
                        i18n-matTooltip matTooltip="Login" matTooltipPosition="below" 
                        (click)="login()" 
                        type="submit" 
                        class="full-width input-control" i18n>Login</button>
              </div>
            </div>
            <br/>
          </form>
        </mat-card>
      </div>
    </div>
 -->
