<mat-form-field hintLabel="Min 10, Max 40 characters"
                class="form-field"
                *ngIf="field.type===fieldType.textbox">
  <input class="form-field"
         matInput 
         #val 
         name="{{field.field}}"
         value={{field.value}}
         minlength="10" 
         maxlength="18" 
         placeholder={{field.description}}
         required>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
  <mat-error *ngIf="val.value?.length < 10">{{field.description}} length must be greater than 10</mat-error>
</mat-form-field>

<mat-form-field *ngIf="field.type===fieldType.textarea"
                  class="form-field">
  <textarea #val
            matInput placeholder={{field.description}}></textarea>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
  <mat-error *ngIf="val.value?.length < 10">{{field.description}} length must be greater than 10</mat-error>
</mat-form-field>

<mat-form-field *ngIf="field.type===fieldType.select"
                class="form-field">
  <mat-select class="form-field"
              placeholder={{field.description}}
              #val
              value={{field.value}}>
    <mat-option *ngFor="let data of field.data" [value]="data">{{data}}</mat-option>
  </mat-select>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
</mat-form-field>
