<mat-form-field class="form-field"
                *ngIf="field.type===fieldType.textbox">
  <input type="text"
  			 class="form-field"
         matInput 
         #val 
         name="{{field.field}}"
         value={{field.value}}
         minlength="{{field.minlength}}" 
         maxlength="{{field.maxlength}}" 
         placeholder={{field.description}}
         required>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
  <mat-error *ngIf="val.value?.length < field.minlength">{{field.description}} length must be greater than {{field.minlength}}</mat-error>
</mat-form-field>

<mat-form-field class="form-field"
                *ngIf="field.type===fieldType.number">
  <input type="number"
  			 class="form-field"
         matInput 
         #val 
         name="{{field.field}}"
         value={{field.value}}
         minlength="{{field.minlength}}" 
         maxlength="{{field.maxlength}}" 
         placeholder={{field.description}}
         required>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
  <mat-error *ngIf="val.value?.length < field.minlength">{{field.description}} length must be greater than {{field.minlength}}</mat-error>
</mat-form-field>

<mat-form-field class="form-field"
                *ngIf="field.type===fieldType.password">
  <input type="password"
  			 class="form-field"
         matInput 
         #val 
         name="{{field.field}}"
         value={{field.value}}
         minlength="{{field.minlength}}" 
         maxlength="{{field.maxlength}}" 
         placeholder={{field.description}}
         required>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
  <mat-error *ngIf="val.value?.length < field.minlength">{{field.description}} length must be greater than {{field.minlength}}</mat-error>
</mat-form-field>

<mat-form-field *ngIf="field.type===fieldType.textarea"
                class="form-field">
  <textarea #val
            matInput placeholder={{field.description}}></textarea>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
  <mat-error *ngIf="val.value?.length < 10">{{field.description}} length must be greater than 10</mat-error>
</mat-form-field>

<mat-form-field *ngIf="field.type===fieldType.select"
                class="form-field">
  <mat-select class="form-field"
              placeholder={{field.description}}
              #val
              value={{field.value}}>
    <mat-option *ngFor="let data of field.data" [value]="data">{{data}}</mat-option>
  </mat-select>
  <mat-hint align="end">{{val.value?.length || 0}}/{{field.maxWidth}}</mat-hint>
</mat-form-field>
