<!--
<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
  <button md-raised-button class="full-width large-button">Menu</button>
  <button md-raised-button color="primary" class="full-width large-button">Item 1</button>
  <button md-raised-button color="primary" class="full-width large-button">Item 2</button>
  <button md-raised-button color="primary" class="full-width large-button">Item 3</button>
  <button md-raised-button color="primary" class="full-width large-button">Item 4</button>
</div>
-->

<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
  <button md-raised-button 
          class="full-width large-button"
          *ngIf="menuService.parent===''">Menu</button>
  
  <button md-raised-button 
          class="full-width large-button"
          *ngIf="menuService.parent!==''"
          (click)="menuService.goToPrevtMenu()">
    <md-icon>keyboard_backspacer</md-icon>{{menuService.currentItem.description}}</button>

  <div class="full-width"
       *ngFor="let item of menuService.getCurrentMenu(); let i=index;">
    <button md-raised-button 
            color="primary" 
            class="full-width large-button"
            (click)="menuService.goToNextMenu(item)">{{item.description}}</button>
  </div>
</div>
