.full-width {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}

.full-height { 
  margin-top: -80px;
  height:100%; 
  flex: auto;
}

action-card {
  width: 90%;
}

action-card-title {
  font-size: 25px;
}



